body {
	font-family: 'Rubik', 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: calc(10px + 0.33vw);
	-webkit-font-smoothing: antialiased;
	color: #121314;
}

h1 {
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 0;
}

p {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	max-width: 30em;
}

a {
	text-decoration: none;
	color: #121314;
	position: relative;
	font-weight:400;
}

a:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 85%;
	left: -0.1em;
	right: -0.1em;
	bottom: 0;
	transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
	background-color: rgba(175, 36, 255, 0.616);
}

a:hover:after {
	top: 0%;
}

a:link {
	text-decoration: none;
	color: #757575;
}

a:visited {
	text-decoration: none;
	color: #757575;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

a:active {
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 50px;
}

.item {
	flex-wrap: wrap;
	flex: 500px;
}
